<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <div>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/Login.css">
    </div>

    <div>

        <div class="header">
            <a href="@Url.Action("Index","Home")">
                <img src="/uploads/logo.png" href="@Url.Action("Index","Home")" alt="logo" width="180" height="130">
            </a>

        </div>

        <div class="vertical-menu">
            <a href="@Url.Action("Index","Reservation")">Reservations</a>
            <a href="@Url.Action("Index","RoomDetail")">Our Rooms </a>
            <a href="@Url.Action("Index","Comment")">Comments About Us </a>
            <a href="@Url.Action("Index","Contact")">Contact </a>

            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Index","ExtraService")" class="right">Extra Services</a>
                <a href="@Url.Action("Index","History")" class="right">Reservation History</a>

                <div class="vertical-menu 1">
                    <a href="@Url.Action("Index","Account")" class="right active"> Hello (@User.Claims.FirstOrDefault(x => x.Type == "Name").Value) </a>
                    <a href="@Url.Action("Logout","Login")" class="right">Sign Out</a>
                </div>
            }
            else
            {
                <a href="@Url.Action("Index","Register")" class="right">SignUp</a>
                <a href="@Url.Action("Index","Login")" class="right ">Signin</a>
            }



        </div>
    </div>
</header>