@model HB.Presentation.Models.Reservation.ReservationVM

@{
    ViewData["Title"] = "Reservation History";
}

<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    <title>Reservation History</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/General.css">
    <link rel="stylesheet" href="/css/ReservationHistory.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
    <center>
        <br />
        <h2>Reservation History</h2>
    </center>

    <h2 style="text-align:center"> </h2>

    @foreach (var item in Model.Items)
    {
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="container">
                        <h2>Reservation Starts: @item.StartDate</h2>
                        <p>Reservation Ends: @item.NumberOfPerson</p>
                        <p>Number of Room: @item.RoomCount</p>
                        <p>Number of Night: @item.Night</p>
                        <p>Total Cost: @item.Cost</p>


                        <a href="@Url.Action("Cancel","Reservation")"> <button class="button" href="@Url.Action("Cancel","Reservation")"><span>Cancel Reservation</span></button> </a>
                    </div>
                </div>
            </div>
        </div>
    }

</body>

</html>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

