@{
    ViewData["Title"] = "Log In";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/Login.css">

<body>

    @if (TempData["Info"] != null)
    {
        <p class="alert-light"> @TempData["Info"] <span class="close"></span> </p>
    }

    <form action="@Url.Action("Login","Login")" method="post" style="max-width:500px;margin:auto">
        <div class="container">

            <h1>Sign In</h1>
            <p>Please fill in this form to enter your account.</p>
            <hr>
            <label for="email"><b>Email</b></label>
            <br />
            <input required type="email" placeholder="Enter Email" id="email" name="txtEmail">
            <br />
            <label for="psw"><b>Password</b></label>
            <input required type="password" placeholder="Enter Password" id="psw" name="txtPassword">

            <p>
                <a href="@Url.Action("Index","ForgotPassword")" style="color:Indigo"> <u> Forgot Password? </u></a>
            </p>
            <p>
                <a href="@Url.Action("Index","Register")" style="color:Indigo"> <u> Don't you have an account? </u></a>.
            </p>

            <br />

            <div class="clearfix">
                <button action="@Url.Action("Index","Home")" class="button"><span>Cancel</span></button>
                <button type="submit" class="button"><span>Signin</span></button>

            </div>
        </div>
    </form>
    <br />    <br />

 
</body>