@model HB.Presentation.Models.Comment.CommentVM

@{
    ViewBag["Title"] = "Comment";
}

<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">

<head>
    <title>Comments About Us</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/commentAboutUs.css">
    <link rel="stylesheet" href="/css/General.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

    <center>
        <h2>Comments About Us</h2>
    </center>

    <h3>Create A Comment: </h3>

    <form name="myForm" action="AcceptedPageForComment.html" onsubmit="return validateForm()" method="post" style="max-width:500px" required>
        <label for="roomtype">Room Type:</label>
        <select id="roomtype" required>
            <option value="Type1">Type1</option>
            <option value="Type2">Type2</option>
            <option value="Type3">Type3</option>
            <option value="Type4">Type4</option>
        </select>
        <br>
        <br>
        <label for="numroom">Rate out of 5:</label>
        <select id="numroom" required>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        <br>
        <br>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" placeholder="Enter your comment" style="width:380px;height:90px" required><br>
        <br>
        <button class="button" href="AcceptedPageForComment.html" width="100px"><span>Publish </span></button>
    </form>

    <br>




    <h2>Comments: (@Model.Count)</h2>

    <h2 style="text-align:center"> </h2>
    <div class="row">
        <div class="column">
            <div class="card">                
                <div class="container">
                    <h2>@Model.Item.User.Name @Model.Item.User.Surname</h2>
                    <p>@Model.Item.Room.Type</p>
                    <p>@Model.Item.RateAVG</p>
                    <p>@Model.Item.Explanation</p>

                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    function validateForm() {
        var x = document.forms["myForm"]["comment"].value;
        if (x == "" || x == null) {
            alert("Comment must be filled out");
            return false;
        }
    }
</script>